@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<style>


    body {
        font-family: "Poppins", sans-serif;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    a {
        color: #92badd;
        display: inline-block;
        text-decoration: none;
        font-weight: 400;
    }

    h2 {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        display: inline-block;
        margin: 40px 8px 10px 8px;
        color: #cccccc;
    }


    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        padding: 20px;
    }

    #formContent {
        margin-top: 10%;
        -webkit-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
        background: #fff;
        padding: 30px;
        width: 90%;
        max-width: 450px;
        position: relative;
        padding: 0px;
        -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        box-shadow: 0 3px 6px rgba(0,0,0,.16);
        text-align: center;
    }

    #email, #password {
        text-align: center;
    }

    .form-group {
        margin-left: 10%;
        margin-right: 10%;
    }

        .form-group a {
            text-decoration: none;
        }
        #register{
            margin-bottom:10%;
            padding-left:10%;
            padding-right:10%;
        }
</style>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <br />
            <h4>Register</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" id="register" class="btn btn-info">Register</button>
            <br />
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
